/* 1. Variables de Design  */
:root {
  --primary-green: #495E57;
  --primary-yellow: #F4CE14;
  --secondary-orange: #EE9972;
  --secondary-cream: #FBDABB;
  --light-gray: #EDEFEE;
  --dark-charcoal: #333333;
  --error-red: #cc0000;
  --border-radius: 12px;
  --shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  --black: #2a2926;
  --red: #b00020;
  --gray: #ccc;
  --white: #fff;
}

/* 2. Reset & Typographie */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Karla', sans-serif;
  background-color: var(--light-gray);
  color: var(--dark-charcoal);
}

h1,
h2 {
  font-family: 'Markazi Text', serif;
  color: var(--primary-green);
}

/* 3. Layout Principal */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* 4. Hero Section - Banner */
.hero {
  background-color: var(--primary-green);
  color: var(--white);
  padding: 3rem 10%;
  text-align: left;
}


.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-green);
  padding: 2rem 10% 4rem;
  color: white;
}

.hero-image img {
  width: 350px;
  height: 400px;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: var(--shadow);
}

.hero h1 {
  color: var(--primary-yellow);
  font-size: 3.5rem;
  margin-bottom: -0.5rem;
}

.hero h2 {
  color: var(--white);
  font-size: 2rem;
  font-weight: 400;
}

.hero p {
  max-width: 400px;
  margin-top: 1rem;
  font-size: 1.1rem;
}



@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
  }

  .hero-image img {
    width: 100%;
    height: auto;
    margin-top: 2rem;
  }
}


/* 5. Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10%;
  background: var(--white);
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: var(--primary-green);
  font-weight: bold;
  transition: color 0.3s;
}

.nav-logo {
  color: var(--primary-yellow);
  font-size: 30px;
}

/* Défilement fluide */
html {
  scroll-behavior: smooth;
}

/* Éviter que le Navbar ne cache le haut des sections */
section {
  scroll-margin-top: 70px;
  /* Ajustez selon la hauteur de votre Navbar */
}

/* Style de la section réservation */
.booking-section {
  padding: 5rem 10%;
  background-color: #f4f4f4;
  /* Un fond légèrement différent pour séparer visuellement */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.booking-header {
  text-align: center;
  margin-bottom: 2rem;
}

.booking-header h2 {
  color: var(--primary-green);
  font-size: 2.5rem;
}


/* 6. SECTION 1 : LES SPÉCIALITÉS  */
.specials-section {
  padding: 4rem 10%;
  background-color: white;
}

.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.specials-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.dish-card {
  background: var(--light-gray);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}

.dish-card:hover {
  transform: translateY(-10px);
}

.dish-image {
  height: 200px;
  background-color: #ddd;
}

.dish-image.salad {
  background-image: url('./assets/images/salade.jpg');
  background-size: cover;
  background-position: initial;
}

.dish-image.bruschetta {
  background-image: url('./assets/images/salade2.jpg');
  background-size: cover;
  background-position: initial;
}

.dish-content {
  padding: 1.5rem;
}

.dish-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.price {
  color: var(--secondary-orange);
  font-weight: bold;
}

/* 7. SECTION 2 : À PROPOS */
.about-section {
  padding: 6rem 10%;
  display: flex;
  gap: 4rem;
  align-items: center;
  background-color: var(--secondary-cream);
}

.about-text {
  flex: 1;
}

.about-text h2 {
  font-size: 3.5rem;
  color: var(--primary-yellow);
}

.about-text h3 {
  font-size: 2rem;
  color: var(--primary-green);
  margin-bottom: 1.5rem;
}

.about-images {
  flex: 1;
  position: relative;
  height: 400px;
}

.img-stack {
  width: 250px;
  height: 300px;
  background: #495E57;
  border-radius: 16px;
  position: absolute;
}

.img-stack.top {
  right: 0;
  top: 0;
  z-index: 2;
  background-image: url('./assets/images/salade.jpg');
  background-size: cover;
  background-position: initial;

}

.img-stack.bottom {
  left: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0.7;
  background-image: url('./assets/images/salade2.jpg');
  background-size: cover;
  background-position: initial;

}



/* 8. Le Formulaire de reservation */
.booking-form {
  background: var(--white);
  max-width: 600px;
  margin: -2rem auto 3rem;
  /* Chevauchement sur le Hero */
  padding: 2.5rem;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);

  /* Formulaire Responsive */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.booking-form h3 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: var(--primary-green);
  text-align: center;
}

.field {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.field label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.field input,
.field select {
  padding: 0.8rem;
  border: 2px solid var(--light-gray);
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.field input:focus,
.field select:focus {
  outline: none;
  border-color: var(--primary-green);
}

/*  Bouton & Interactions */
button {
  background-color: var(--primary-yellow);
  color: var(--dark-charcoal);
  border: none;
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
  margin-top: 1rem;
}

button:hover {
  background-color: #e5c013;
  transform: translateY(-2px);
}

button:disabled {
  background-color: var(--gray);
  cursor: not-allowed;
  transform: none;
}

/* Messages d'Erreur */
.error {
  color: var(--error-red);
  font-size: 0.8rem;
  margin-top: 0.4rem;
  font-weight: 500;
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero {
    text-align: center;
    padding: 2rem 5%;
  }

  .hero p {
    margin: 1rem auto;
  }

  .booking-form {
    margin: 1rem;
    padding: 1.5rem;
  }
}


/* 9. Footer */
.main-footer {
  background-color: var(--primary-green);
  color: var(--white);
  padding: 3rem 10%;
  margin-top: auto;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
}

.footer-nav {
  background-color: var(--primary-green);
}

.footer-nav ul,
.footer-social ul {
  list-style: none;
  padding: 0;
}

.footer-nav a,
.footer-social a {
  color: var(--light-gray);
  text-decoration: none;
  font-size: 0.9rem;
}

.footer-logo {
  color: var(--primary-yellow);
  font-size: 30px;
}




























/* ---------------------Poubelle */
/* --- Témoignages --- */
.testimonials {
  background: var(--primary-green);
  color: var(--white);
  padding: 4rem 10%;
  text-align: center;
}

.testimonial-card {
  background: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border-radius: var(--border-radius);
  font-style: italic;
}

/* --- Specials Section --- */
.specials {
  padding: 4rem 10%;
  background: var(--white);
}

.specials-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.specials-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.dish-card {
  background: var(--light-gray);
  border-radius: 16px 16px 0 0;
  overflow: hidden;
  transition: transform 0.3s;
}

.dish-card:hover {
  transform: translateY(-10px);
}

.dish-img {
  height: 200px;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
}

.dish-info {
  padding: 1.5rem;
}

.dish-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.price {
  color: var(--secondary-orange);
  font-weight: bold;
}



/* --- Section Réservation --- */
.booking-section {
  padding: 5rem 10%;
  background-color: var(--primary-green);
  color: white;
  text-align: center;
}

.booking-container {
  max-width: 800px;
  margin: 0 auto;
}

.booking-section h2 {
  color: var(--primary-yellow);
  font-size: 2.5rem;
  margin-bottom: 1rem;
}